<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="/detect" method="post">
            <img class="rounded mx-auto d-block" src="{{ url_for('webcam') }}">
            <button class="btn btn-success" id="submit-btn" type="submit">Checkin</button>
        </form>
    </div>
    
    <div id="accordion">
        {% for user in data %}
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Option
              </button>
            </h5>
            
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <img class="card-img-top" src={{user.link}} alt="Card image cap">
            <div class="card-body">
                {{user.time}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>      
    
</body>

</html>